<form [formGroup]="singUpForm" (ngSubmit)="handleSignUp()">
    <div>
        <label for="name">Student's Name:</label>
        <input id="name" type="text" formControlName="studentName">
    </div>
    <div>
        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="studentUser">
    </div>
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <div>
        <label for="image">Image:</label>
        <input id="image" type="url" formControlName="studentImg">
    </div>
    <div>
        <label for="study">What are you studying?:</label>
        <input id="study" type="tex" formControlName="study">
    </div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <label for="why">Where did you find us?:</label>
    </div>
    <div>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Instagram</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Tiktok</label>
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Other</label>
    </div>
    <div> 
        <button type="submit">Create User!</button>
    </div>
</form>
